/*******************
       Basic
*******************/

$Primary-Color: #566270;
$Secondary-Color: #A593E0;
$Optional-Color: #6C63FF;
$Grayish-Color: #E0E3DA;
$Chat-Sender-Color: #999AD7;
$Chat-Reciever-Color: #FFFFFF;

$Primary-Font: 'Qanelas';
$Secondary-Font: 'Quicksand';

/*******************
     Globals
*******************/

* {  
 box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
 font-weight: 900;
 font-family: $Primary-Font;
}

p {
 font-family: $Secondary-Font;
}

input[type=text] {
  border: 2px solid #3B414A;
  color: #3B414A;
  border-radius: 1000px;
  height: 3.2em;
  background-color: #FFF;
  font-weight: bolder;
  padding-left: 1.5em;
  margin: 0;
 }

input[type=text]:focus {
 color: #3B414A;
 border: 2px solid #3B414A;
}

::placeholder {
color: #000;
font-weight: bold;
}

/*******************
       Body
*******************/

header {
 max-width: 100%;
 height: 15vh;
 display: flex;
 justify-content: space-between;

 h2 {
  margin-left: 1.4em;
  margin-top: 0.4em;
 }

 nav {
  margin-right: 3.9em;
  margin-top: 2.5em;

  a {
   text-decoration: none;
   font-size: 1.1em;
   text-transform: uppercase;
   color: #000;
   font-family: $Secondary-Font;
   font-weight: bolder;
   margin-left: 1.4em;
   transition: all 0.15s ease-in-out;
  }
 }
}

/*******************
       Hero
*******************/

.Hero {
 max-width: 100%;
 height: 85vh;
 overflow: hidden;
 display: flex;

 .Left, .Right {
  width: 50%;
  height: 100%;
 }

 .Left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h3 {
   margin-top: 0.8em;
  }

  p {
   font-weight: 600;
  }

  form {
   display: flex;
   flex-direction: column;
   align-items: center;

   button {
    margin-top: 0.9em;
    border-radius: 1000px;
    border: 2px solid #000;
    color: #000;
    font-weight: bolder;
    font-family: $Primary-Font;
    font-size: 0.85em;

    &:hover {
     color: #FFF;
     background-color: #3B414A;
     border: 2px solid #3B414A;
     transition: all 0.2s ease-in-out;
    }
   }
  }
 }

 .Right {
  display: flex;
  justify-content: center;
  align-items: center;
  
   img {
    width: 95%;
    height: 95%;
  }
 }
}

/*******************
    Responsive
*******************/

@media (max-width: 877px) {

header {
 h2 {
  font-size: 2.5em;
 }

 nav a {
  font-size: 1.1em;
 }
}

.Hero {
 
 .Left {  
  h3 {
   font-size: 1.9em;
   margin-top: 2em;
  }

  p {
   font-size: 1em;
   text-align: center;
  }

  form {
  
  input {
   width: 70%;
  }  
  }
 }
}
}

@media (max-width: 750px) {

header {
 h2 {
  font-size: 2.5em;
 }

 nav a {
  font-size: 1.1em;
 }
}

.Hero {
 
 .Left {  
  h3 {
   font-size: 1.9em;
   margin-top: 2em;
  }

  p {
   font-size: 1em;
   text-align: center;
  }

  form {
  
  input {
   width: 70%;
  }  
  }
 }
}
}

@media (max-width: 624px) {

header {
 h2 {
  font-size: 2em;
 }

nav {
 margin-top: 1.4em;

 a {
 font-size: 1em;
 }
}

.Hero {
 
 .Left {  
  h3 {
   font-size: 1.2em;
  }

  p {
   font-size: 0.5em;
  }

  form {
  
  input {
   width: 40%;
  }  
  }
 }
}
}
}

@media (max-width: 544px) {

::placeholder {
 font-size: 1em;
}

.Hero .Left {
 h3 {
 margin-top: 4em;
 font-size: 1.5em;
 text-align: center;
}

 p {
  font-size: 0.9em;
 }

 form {  
  input {
   width: 70%;
   font-size: 0.85em;
  } 
  
  button {
   font-size: 0.75em;
  }
}
}
}

@media (max-width: 484px) {

::placeholder {
 font-size: 1em;
}



header {
h2 {
 margin-left: 0.5em;
}

nav {
 margin-right: 0.9em;
 
 a {
  font-size: 0.8em;
}
}
}

.Hero .Left {
 h3 {
 margin-top: 4.6em;
 font-size: 1.35em;
 text-align: center;
}

 p {
  font-size: 0.85em;
 }

 form {  
  input {
   width: 70%;
   font-size: 0.85em;
  } 
  
  button {
   font-size: 0.75em;
  }
}
}

.Right {
 display: none;
}
}

@media (max-width: 394px) {
.Hero {
.Left {
 margin: 0 auto;
 width: 80%;

 h3 {
  margin-top: 2.3em;
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
 }
}

.Right {
 display: none;
}
}

@media (max-width: 320px) {

header {
 h2 {
  font-size: 1.7em;
  margin-top: 0.5em;
  text-align: center;
 }

 nav a {
  font-size: 0.8em;
  margin-left: 0.25em;
 }
}

.Hero {
.Left {
 margin: 0 auto;
 width: 80%;

 h3{
  margin-top: 1.4em;
  font-size: 2em;
  margin-bottom: 0.7em;
  text-align: center;
 }
}
.Right {
 display: none;
}
}
}

@media (max-width: 286px) {

header {
 h2 {
  font-size: 1.7em;
  margin-top: 0.5em;
 }

 nav a {
  font-size: 0.8em;
  margin-left: 0.25em;
 }
}

.Hero {
.Left {
 margin: 0 auto;
 width: 80%;

 h3{
  margin-top: 1.4em;
  font-size: 2em;
  margin-bottom: 0.7em;
 }
}
.Right {
 display: none;
}
}
}
}